$cursor-offset: 15;
$cursor-offset-sm: 7;

// legacy
// @mixin cursor-black {
//   cursor: url(http://www.xxix.co/images/cursor-black.png) $cursor-offset $cursor-offset, auto !important;
// }
//
// @mixin cursor-yellow {
//   cursor: url(http://www.xxix.co/images/cursor-yellow.png) $cursor-offset $cursor-offset, auto !important;
// }
//
// @mixin cursor-gray {
//   cursor: url(http://www.xxix.co/images/cursor-yellow.png) $cursor-offset $cursor-offset, auto !important;
// }
//
// @mixin cursor-yellow-sm {
//   cursor: url(http://www.xxix.co/images/cursor-yellow-sm.png) $cursor-offset-sm $cursor-offset-sm, auto !important;
// }
//
// @mixin cursor-gray-sm {
//   cursor: url(http://www.xxix.co/images/cursor-gray-sm.png) $cursor-offset-sm $cursor-offset-sm, auto !important;
// }
//
// @mixin cursor-x {
//   cursor: url(http://www.xxix.co/images/cursor-x.png) $cursor-offset $cursor-offset, auto !important;
// }
//
// @mixin cursor-outline {
//   cursor: url(http://www.xxix.co/images/cursor-stroke-black.png) $cursor-offset $cursor-offset, auto !important;
// }

///////////////////////////////// new

// circles
@mixin cursor-circle-lg-black-fill {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-circle-lg-black-fill.png) $cursor-offset $cursor-offset, auto !important;
}

@mixin cursor-circle-lg-black-outline {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-circle-lg-black-fill.png) $cursor-offset $cursor-offset, auto !important;
}

@mixin cursor-circle-lg-gray-fill {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-circle-lg-gray-fill.png) $cursor-offset $cursor-offset, auto !important;
}

@mixin cursor-circle-lg-gray-outline {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-circle-lg-gray-outline.png) $cursor-offset $cursor-offset, auto !important;
}

@mixin cursor-circle-lg-yellow-fill {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-circle-lg-yellow-fill.png) $cursor-offset $cursor-offset, auto !important;
}

@mixin cursor-circle-lg-yellow-outline {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-circle-lg-yellow-outline.png) $cursor-offset $cursor-offset, auto !important;
}

@mixin cursor-circle-sm-black-fill {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-circle-sm-black-fill.png) $cursor-offset-sm $cursor-offset-sm, auto !important;
}

@mixin cursor-circle-sm-black-outline {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-circle-sm-black-oultine.png) $cursor-offset-sm $cursor-offset-sm, auto !important;
}

@mixin cursor-circle-sm-gray-fill {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-circle-sm-gray-fill.png) $cursor-offset-sm $cursor-offset-sm, auto !important;
}

@mixin cursor-circle-sm-gray-outline {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-circle-sm-gray-outline.png) $cursor-offset-sm $cursor-offset-sm, auto !important;
}

@mixin cursor-circle-sm-yellow-fill {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-circle-sm-yellow-fill.png) $cursor-offset-sm $cursor-offset-sm, auto !important;
}

@mixin cursor-circle-sm-yellow-outline {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-circle-sm-yellow-outline.png) $cursor-offset-sm $cursor-offset-sm, auto !important;
}

// close
@mixin cursor-close-lg-black {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-close-lg-black.png) $cursor-offset $cursor-offset, auto !important;
}

@mixin cursor-close-sm-black {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-close-sm-black.png) $cursor-offset-sm $cursor-offset-sm, auto !important;
}

// arrows
@mixin cursor-arrow-lg-black-e {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-arrow-lg-black-e.png) $cursor-offset $cursor-offset, auto !important;
}

@mixin cursor-arrow-lg-black-n {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-arrow-lg-black-n.png) $cursor-offset $cursor-offset, auto !important;
}

@mixin cursor-arrow-lg-black-ne {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-arrow-lg-black-ne.png) $cursor-offset $cursor-offset, auto !important;
}

@mixin cursor-arrow-lg-black-nw {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-arrow-lg-black-nw.png) $cursor-offset $cursor-offset, auto !important;
}

@mixin cursor-arrow-lg-black-s {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-arrow-lg-black-s.png) $cursor-offset $cursor-offset, auto !important;
}

@mixin cursor-arrow-lg-black-se {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-arrow-lg-black-se.png) $cursor-offset $cursor-offset, auto !important;
}

@mixin cursor-arrow-lg-black-sw {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-arrow-lg-black-sw.png) $cursor-offset $cursor-offset, auto !important;
}

@mixin cursor-arrow-lg-black-w {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-arrow-lg-black-w.png) $cursor-offset $cursor-offset, auto !important;
}

@mixin cursor-arrow-sm-black-e {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-arrow-sm-black-e.png) $cursor-offset-sm $cursor-offset-sm, auto !important;
}

@mixin cursor-arrow-sm-black-n {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-arrow-sm-black-n.png) $cursor-offset-sm $cursor-offset-sm, auto !important;
}

@mixin cursor-arrow-sm-black-ne {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-arrow-sm-black-ne.png) $cursor-offset-sm $cursor-offset-sm, auto !important;
}

@mixin cursor-arrow-sm-black-nw {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-arrow-sm-black-nw.png) $cursor-offset-sm $cursor-offset-sm, auto !important;
}

@mixin cursor-arrow-sm-black-s {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-arrow-sm-black-s.png) $cursor-offset-sm $cursor-offset-sm, auto !important;
}

@mixin cursor-arrow-sm-black-se {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-arrow-sm-black-se.png) $cursor-offset-sm $cursor-offset-sm, auto !important;
}

@mixin cursor-arrow-sm-black-sw {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-arrow-sm-black-sw.png) $cursor-offset-sm $cursor-offset-sm, auto !important;
}

@mixin cursor-arrow-sm-black-w {
    cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-arrow-sm-black-w.png) $cursor-offset-sm $cursor-offset-sm, auto !important;
}
