.sv-campaign-form-label,
.sv-campaign-form-input,
.sv-campaign-form-submit {
  @include regular;
  background: transparent;
  border-radius: 0;
  border: 0;
  display: block;
  font-size: $text-lg;
  outline: 0;
  padding: 0;
  text-align: left;
  height: $space-lg;
  width: 100%;
  -webkit-user-select: auto;

  @include sm {
    font-size: $text-xl;
    height: $space-xl;
  }
}

.sv-campaign-form-label {
  font-size: $text-xs;
  height: auto;
}

.sv-campaign-form-input {
  border-bottom: 1px solid black;
  margin-bottom: 25px;
}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;
}

:-ms-input-placeholder {
   color: black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 5000000s ease-in-out 0s;
}
