.modal-backdrop {
  display: none;
}

.modal-open {
  @include cursor-close-lg-black;
  overflow: auto;
  overflow-x: hidden;
}

.modal {
  @include cursor-circle-lg-black-fill;
  bottom: auto;
  overflow: visible;
  transform: translate3d(0, 0, 0);

  .touch & {
    cursor: pointer;
  }

  .modal-open & {
    overflow: visible;
    padding: 0;
  }

  &.ui-draggable-dragging {
    @include cursor-circle-lg-black-outline;
  }
}

.modal--first {
  z-index: 1260;
}

.modal--second {
  z-index: 1259;
}

.modal--third {
  z-index: 1258;
}

.modal--fourth {
  z-index: 1257;
}

.modal-border-0 {
  .modal-body {
    padding: 0;
  }
}

.modal-dialog {
  @include default-shadow;
  background: white;
  margin: 0 $space-sm;
  max-height: 90vh;
  width: 90%;
  position: absolute;
  overflow: auto;
  overflow-x: hidden;

  @include sm {
    margin: 0;
    max-height: 600px;
    width: $modal-width-md;

    &.modal-xs {
      width: $modal-width-xs;
    }

    &.modal-sm {
      width: $modal-width-sm;
    }

    &.modal-lg {
      max-height: 90vh;
      width: $modal-width-lg;
    }
  }

  &.modal-yellow {
    background: $color-brand;
  }

  &.modal-black {
    background: $color-base;
  }

  &.modal-info {
    background: $color-brand;
    left: 25px;
    padding: 25px;
    top: 30px;
    width: 325px;

    @include sm {
      left: $space-sm;
      padding: 40px;
      top: 200px;
      width: 375px;

      .modal-body {
        margin-left: 105px;
      }

      .modal-logo {
        margin-top: 4px;
      }
    }

    @include md {
      top: 130px;
    }

    @include lg {
      top: 260px;
      left: 7.5vw;
    }

    .modal-logo {
      margin-top: 2px;
    }

    .modal-body {
      margin-left: 106px;
      padding: 0;
    }

    a {
      @include cursor-circle-lg-gray-fill;
    }
  }

  &.modal-newsletter {
    padding: 15px 25px;
    left: 2.5vw !important;
    z-index: 1;

    input {
      z-index: 1;
    }

    @include sm {
      left: 15vw !important;
    }
  }

  &.modal-contact {
    background: $color-gray;
    left: 10px;
    max-height: 1000000px;
    max-width: 300px;
    padding: 20px;
    top: 160px;

    .modal-body {
      padding: 0;
      position: static;
    }

    @include sm {
      left: 310px;
      max-width: 450px;
      padding: 40px;
      top: 115px;

      a {
        margin-top: -($text-xl - 10px);
        position: absolute;
        left: 320px;
        right: auto;
        width: 150px;
      }
    }

    @include md {
      // left: 290px;
      left: 15vw;
      padding: 20px 40px;
      max-width: 100%;
      top: 60px;

      .modal-body {
        width: 480px;
      }

      a {
        left: 480px + 40px;
        margin-top: -($text-xxl - 20px);
        right: auto;
        width: 150px;
      }
    }

    @include lg {
      left: 430px;
      padding: 40px;
      // top: 160px;
    }
  }

  &.modal-client-list {
    top: 370px;
    left: 50px;
  }

  &.modal-project-index {
    background: $color-dark;
    top: 370px;
    left: 35px;

    @include sm {
      left: 50%;
      height: 600px;
      width: 85%;
      overflow-y: scroll;
      padding: 20px;
      top: 350px;
    }

    * {
      color: white;
    }

    .modal-body {
      padding: 0;
      position: static;
    }

    @include sm {
      left: 247px;
      top: 350px;
      height: 650px;
      width: 500px;
    }

    @include md {
      left: auto;
      right: $space-md;
      width: 600px;
      height: 545px;
      top: 25vh;
    }

    @include lg {
      left: 740px;
      // top: 600px;
      width: 575px;
      height: 600px;
    }

    @include xl {
      left: 920px;
      // top: 600px;
      width: 575px;
      height: 600px;
    }
  }

  &.modal-white {
    border: 1px solid black;
  }

  &.modal-gray {
    background: $color-gray;
  }

  &.modal-image {
    width: 250px;

    @include sm {
      max-height: none;
      height: auto;
      width: 400px;
    }

    @include lg {
      width: 560px;
    }

    @include xl {
      width: 800px;
    }

    &.modal-image-lg {
      height: auto;
      width: 350px;

      @include sm {
        height: auto;
        width: 400px;
      }

      @include md {
        width: 600px;
      }

      @include lg {
        width: 1000px;
      }
    }

    &.modal-image-sm {
      height: auto;
      width: 250px;

      @include sm {
        height: auto;
        width: 250px;
      }

      @include md {
        width: 280px;
      }

      @include lg {
        width: 350px;
      }
    }

    &.modal-image-original {
      width: auto;
      height: auto;
    }
  }

  &.modal-iframe {
    border: 1px solid black;
    overflow: hidden;
    height: 305px + 40px;
    width: 215px;

    @include sm {
      height: 250px + 40px;
      width: 400px;
    }

    @include lg {
      height: 350px + 40px;
      width: 560px;
    }

    @include xl {
      height: 500px + 40px;
      width: 800px;
    }

    .modal-content {
      height: 100%;
    }

    .modal-body {
      height: 100%;
      padding: 0;
    }

    iframe {
      transform-origin: 0 0;
      height: 605px;
      width: 425px;
      transform: scale(0.50);
      border: none;

      @include sm {
        height: 1000px;
        width: 1600px;
        transform: scale(0.25);
      }

      @include lg {
        transform: scale(0.35);
      }

      @include xl {
        transform: scale(0.5);
      }
    }
  }
}

.modal-content {
  background: none;
  border: 0;
  box-shadow: none;
}

.modal-body {
  padding: $space-xs;

  @include lg {
    padding: $space-sm;
  }

  &.modal-content-border-0 {
    padding: 0;
  }
}

video {
  width: 100%;
  height: auto;
}

.modal-header {
  border-bottom: 1px solid black;
  height: 40px;
  line-height: 40px;
  padding: 0;
}

.modal-header-action {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 10px;

  &:first-child {
    left: 10px;
    right: auto;
  }
}


// specific modules
.project-index {

  @include md {
    padding: 10px;
  }

  p {
    font-size: $text-xs;
    line-height: $line-sm;
  }

  // &.project-index-hidden {
  //   opacity: 0;
  //   overflow: hidden;
  //   pointer-events: none;
  // }
  //
  // &.project-index-visible {
  //   opacity: 1.0;
  //   overflow: auto;
  // }

  .project-index-header {

    @include md {
      padding-bottom: 10px;
    }
  }

  .project-index-item {
    padding: 10px 0;
    border-bottom: 1px solid white;
    position: relative;


    .permalink {
      float: right;
      transition: padding .2s ease-in-out;
    }

    img {
      display: none;
      max-width: 33%;
      position: absolute;
      z-index: 100;
      pointer-events: none;
    }

    &.active {
      @include cursor-circle-lg-yellow-fill;
    }

    &.inactive {
      @include cursor-circle-lg-black-fill;

      .permalink {
        display: none;
      }

      a {
        @include cursor-circle-lg-black-fill;
      }

      &:hover {

        img {
          display: block;
        }
      }
    }

    &:hover {

      .permalink {
        padding-right: 0;
      }

      img {
        display: block;
      }
    }
  }
}

.client-list {
  padding: 25px;

  * {
    color: white;
  }

  .client-list-header {
    padding-bottom: 25px;
  }

  p {
    line-height: 1.25;
    font-size: $text-md;
  }

  a {
    border-bottom: 1px solid white;

    &:hover {
      border-color: black;
    }
  }
}

.client-list,
.modal-contact {

  h1 {
    font-size: $text-md;

    @include sm {
      font-size: $text-lg;
      margin-bottom: $space-md;
    }
  }
}
