$c1: (1/12) * 100vw;
$c2: (2/12) * 100vw;
$c3: (3/12) * 100vw;
$c4: (4/12) * 100vw;
$c5: (5/12) * 100vw;
$c6: (6/12) * 100vw;
$c7: (7/12) * 100vw;
$c8: (8/12) * 100vw;
$c9: (9/12) * 100vw;
$c10: (10/12) * 100vw;
$c11: (11/12) * 100vw;
$c12: (12/12) * 100vw;

.blog {
  min-height: 100vh;

  * {
    max-width: none;
  }

  img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .sv-theme {
    padding: 0 15px;

    @include sm {
      padding: 0 $grid-gutter-width;
    }
  }

  .sv-blog-nav {
    position: relative;
    border: 0;

    .sv-blog-nav-title {
      font-size: $text-sm;
      height: auto;

      .sv-blog-nav-logo {
        display: none;
      }
    }
  }
}

.blog.sv-body-blog-article {

  .sv-blog-nav {
    padding: 20px 0 0;

    @include sm {
      padding: $space-md 0 0;
    }
  }

  .sv-blog-article-header,
  .sv-blog-article-content,
  .sv-blog-article-next {
    display: block;
    width: 100%;
    padding: 0;

    @include sm {
      display: grid;
      grid-column-gap: $space-md;
      grid-template-columns: repeat(12, 1fr);
    }
  }

  .sv-blog-article-header {

    img {
      grid-column-start: 2;
      grid-column-end: 12;
      padding: $space-sm 0 $space-md;

      @include sm {
        padding: calc(#{$c1} - #{$space-lg}) 0;
      }
    }
  }

  .sv-blog-article-content {
    padding-bottom: $c1;

    h1 {
      grid-column-start: 1;
      grid-column-end: 2;
      padding-bottom: $c1;
      margin: 0;
      font-size: $text-lg;
      // letter-spacing: -.02em;
      letter-spacing: 0 !important;
      @include secondary;

      @include sm {
        grid-column-start: 1;
        grid-column-end: 13;

        font-size: 4vw;
      }

      &:first-of-type {
        @include regular;
        padding-bottom: 0;
        letter-spacing: .025em;
      }
    }

    p, h2, h3, h4, h5, h6, ol, ul, hr, blockquote {
      margin: 0;

      @include sm {
        grid-column-start: 3;
        grid-column-end: 11;
      }

      @include lg {
        grid-column-start: 4;
        grid-column-end: 10;
      }
    }

    p, li {
      font-size: $text-md;
      line-height: $line-sm;
      text-indent: $space-sm;

      @include sm {
        text-indent: $c1;
      }
    }

    ol, ul {
      list-style-position: inside;
      padding: 0;
      margin-top: $space-md;
      margin-bottom: $space-md;

      @include sm {
        margin-top: $space-lg;
        margin-bottom: $space-lg;
      }

      li {
        text-indent: 0;

        @include sm {
          padding: 0 $c1;
        }
      }
    }

    ol li {
      list-style-type: decimal;
    }

    ul li {
      list-style-type: circle;
    }

    blockquote {
      background-color: $color-brand;
      margin-left: 0;
      margin-right: 0;
      margin-top: $space-lg;
      margin-bottom: $space-lg;
      padding: $space-md;
      box-shadow: $shadow-default;

      font-size: $text-lg;
      letter-spacing: -.02em;
      line-height: $line-xs;
      @include secondary;

      @include sm {
        margin-left: -$c1;
        margin-right: -$c1;
        margin-top: $space-xl;
        margin-bottom: $space-xl;
        padding: $c1;

        font-size: 4vw;
      }
    }

    h2, h3, h4, h5, h6 {
      margin-top: $space-lg;
      margin-bottom: $space-md;
    }

    h2 {
      font-size: $text-xl;
    }

    h3 {
      font-size: $text-lg;
    }

    h4 {
      font-size: $text-md;
    }

    h5 {
      font-size: $text-sm;
    }

    h6 {
      font-size: $text-xs;
      text-transform: uppercase;
    }

    hr {
      margin: $space-lg 0 $space-lg;
      height: 1px;
      background: $color-dark;
      border: 0;

      @include sm {
        margin: $space-xl 0 $space-lg;
      }
    }

    img {
      grid-column-start: 2;
      grid-column-end: 12;
      padding: $space-md 0;

      @include sm {
        padding: $space-lg 0;
      }
    }
  }

  .sv-blog-article-next {
    border-top: 1px solid $color-dark;
    border-bottom: 1px solid $color-dark;
    padding: $space-lg 0;
    margin: $space-lg 0;

    @include sm {
      padding: $c1 0;
      margin: 0 0 $c1;
    }

    h3, h5 {
      grid-column-start: 3;
      grid-column-end: 11;

      font-size: $text-lg;
      letter-spacing: 0 !important;

      @include sm {
        font-size: 4vw;
      }
    }

    h3 {
      @include regular;
    }

    h5 {
      @include secondary;
    }
  }
}

.blog.sv-body-blog-home {

  .sv-blog-nav {
    position: relative;
    padding: $space-sm 0;
    margin-bottom: $space-sm;
  }

  .sv-blog-nav {
    margin-bottom: $space-sm;

    @include sm {
      padding: $space-md 0;
      margin-bottom: $space-lg;
    }
  }

  .sv-theme {
    padding-bottom: $space-xl * 2;

    @include sm {
      padding-bottom: $space-xl;
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
  }
}

.sv-blog-intro {
  display: none;
}

.sv-blog-articles {
  max-width: none;
  padding: 0;

  @include sm {
   display: grid;
   grid-column-gap: $space-md;
   grid-template-columns: repeat(12, 1fr);
  }

  .sv-blog-articles-article {
    grid-column-start: 1;
    grid-column-end: 13;
    margin-bottom: $space-lg;
    // display: flex;

    img {
      grid-column-start: 8;
      grid-column-end: 13;
      align-self: start;
      order: 2;
      box-shadow: $shadow-default;
      // align-items: flex-start;
    }

    h3 {
      grid-column-start: 2;
      grid-column-end: 8;
      align-self: start;
      order: 1;
      font-size: $text-lg;
      margin-top: $space-md;

      @include sm {
        font-size: $text-xl;
        margin-top: 0;
      }
    }

    a:hover>h3 {
      text-decoration: none;
    }

    .article-count {
      span {
        @include secondary;
        font-size: $text-lg;
        line-height: 1;
        margin-bottom: $space-sm;
        display: block;

        @include sm {
          font-size: $text-xl;
          margin-bottom: 0;
        }
      }
    }

    .sv-blog-item { // dek
      display: none;
    }

   .sv-blog-articles-article-title {


      @include sm {
       display: grid;
       grid-column-gap: $space-md;
       grid-template-columns: repeat(12, 1fr);
      }
    }
  }
}

.sv-blog-nav-items,
.sv-blog-nav-logo img,
.sv-blog-footer-items,
.sv-blog-intro p,
.sv-badge {
  display: none;
}
