@font-face {
  font-family: "primary-w";
  src:url("_assets/fonts/GT-America-Regular.eot");
  src:url("_assets/fonts/GT-America-Regular.eot?#iefix") format("embedded-opentype"),
      url("_assets/fonts/GT-America-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "primary-italic-w";
  src:url("_assets/fonts/GT-America-Regular-Italic.eot");
  src:url("_assets/fonts/GT-America-Regular-Italic.eot?#iefix") format("embedded-opentype"),
      url("_assets/fonts/GT-America-Regular-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "secondary-w";
  src:url("_assets/fonts/GT-Super-Display-Light-v1.eot");
  src:url("_assets/fonts/GT-Super-Display-Light-v1.eot?#iefix") format("embedded-opentype"),
      url("_assets/fonts/GT-Super-Display-Light-v1.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "secondary-bold-w";
  src:url("_assets/fonts/GT-Super-Display-Super-v1.eot");
  src:url("_assets/fonts/GT-Super-Display-Super-v1.eot?#iefix") format("embedded-opentype"),
      url("_assets/fonts/GT-Super-Display-Super-v1.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "tertiary-w";
  src:url("_assets/fonts/GT-America-Mono-Regular.eot");
  src:url("_assets/fonts/GT-America-Mono-Regular.eot?#iefix") format("embedded-opentype"),
      url("_assets/fonts/GT-America-Mono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "tertiary-italic-w";
  src:url("_assets/fonts/GT-America-Mono-Italic.eot");
  src:url("_assets/fonts/GT-America-Mono-Italic.eot?#iefix") format("embedded-opentype"),
      url("_assets/fonts/GT-America-Mono-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
