.indicator-link {
  display: inline-block;
  margin-left: -15px;
  margin-top: 7px;
  position: absolute;

  @include sm {
    margin-top: 3px;
  }

  @include md {
    margin-top: 7px;
  }
}

.animate-right:hover {

  span {
    margin-left: $space-sm;
    transition: margin .1s ease-in-out;
  }
}

.dot {
  $size: 7px;
  content: "";
  height: $size;
  width: $size;
  margin-top: $size;
  margin-left: -($size * 2);
  margin-right: 5px;
  border-radius: 999px;
  background: transparent;
  border: 1px solid black;
  float: left;
  display: inline-block;
  padding: 0;
}

.dot-fill {
  @extend .dot;
  background: black;
}

@keyframes pulse {
  0%   {opacity: 1.0;}
  25%  {opacity: 0;}
  50%  {opacity: 0;}
  100%  {opacity: 1.0;}
}

.recording {
  @extend .dot;
  background: black;
  margin-left: 0;
  margin-top: 4px;
  animation-name: pulse;
  animation-duration: 4.0s;
  animation-iteration-count: infinite;
}
