.nav,
.footer {
 width: 100%;
 position: relative;
 z-index: 1002;
 height: $space-md;

  .nav-inner {
   padding: $space-xs;
  }

  p,
  h1 {
    font-size: $text-sm;
  }

  a {

    &:hover {

    }
  }
}
