<!-- client list -->
<div class="modal modal--second" id="client-list" tabindex="-1" role="dialog" aria-labelledby="Modal">
  <div class="modal-dialog modal-client-list bg-dark" role="document">
    <div class="modal-content">
      <div class="client-list">
        <div class="container-fluid">
          <div class="row">

            <div class="client-list-header">
              <h1>Selected Clients</h1>
            </div>

            <!-- fill client list from JSON -->
            <p class="js-client-list"></p>

          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
