<div class="modal modal--third" id="contact" tabindex="-1" role="dialog" aria-labelledby="Modal">
  <div class="modal-dialog modal-lg modal-contact" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <!-- mobile -->
        <div class="visible-xs">
          <div class="row u-mbmd">
            <div class="col-xs-8 col-xs-offset-4">
              <h1>Contact</h1>
            </div>
          </div>

          <div class="row u-mbmd">
            <div class="col-xs-4">
              <p class="t-sm t-line-sm t-right">email</p>
            </div>

            <div class="col-xs-8">
              <p class="t-sm t-line-sm"><a href="mailto:studio@xxix.co">studio@xxix.co</a></p>
            </div>
          </div>

          <div class="row u-mbmd">
            <div class="col-xs-4">
              <p class="t-sm t-line-sm t-right">lunch</p>
            </div>

            <div class="col-xs-8">
              <p class="t-sm t-line-sm">Friday lunch—<br>details on <a href="http://www.twitter.com/twentynine_nyc">twitter</a></p>
            </div>
          </div>

          <div class="row u-mbmd">
            <div class="col-xs-4">
              <p class="t-sm t-line-sm t-right">visit</p>
            </div>

            <div class="col-xs-8">
              <p class="t-sm t-line-sm"><a href="https://www.google.com/maps/place/XXXI/@40.728048,-73.9862947,17z/data=!3m1!4b1!4m5!3m4!1s0x89c2599d75fd5e17:0x564604a41c6af895!8m2!3d40.728044!4d-73.984106" target="_blank">411 E 9th St.,<br>New York, NY<br>10009</a></p>
            </div>
          </div>

        </div>

        <!-- desk -->
        <div class="hidden-xs t-super-size">
          Send us a mail<a href="mailto:studio@xxix.co" class="u-ptxs"><span class="indicator-link sprite-arrow-NE-sm"></span><span class="u-inline-block">studio@xxix.co</span></a>,<br>

          join for lunch<a href="http://www.twitter.com/twentynine_nyc" class="u-ptxs"><span class="indicator-link sprite-arrow-NE-sm"></span><span class="u-inline-block">Friday lunch –<br>details on Twitter</span></a>,<br>

          or come visit<a href="https://www.google.com/maps/place/XXXI/@40.728048,-73.9862947,17z/data=!3m1!4b1!4m5!3m4!1s0x89c2599d75fd5e17:0x564604a41c6af895!8m2!3d40.728044!4d-73.984106" target="_blank"><span class="indicator-link sprite-arrow-NE-sm"></span>411 E 9th St.<br>New York, NY</a>.
        </div>
      </div>
    </div>
  </div>
</div>
