<div class="modal modal--first" id="info" tabindex="-1" role="dialog" aria-labelledby="Modal">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="row">
        <div class="col-xs-4">
          <a href="/">
            <span class="t-md t-sm-lg t-line-sm letter-md">XXIX</span>
          </a>
        </div>
        <div class="col-xs-8">
          <span class="t-md t-sm-lg t-line-sm">A modern design studio building brands, products, and experiences.<br><br><a href="#" class="js-reset">Information <span class="u-inline-block u-middle sprite-arrow-SE-md"></span></a></span>
        </div>
      </div>
    </div>
  </div>
</div>
