<form action="https://xxix.us3.list-manage.com/subscribe/post?u=1a2ff75e095034fc6d0c19ef5&amp;id=c5ca659d9d" method="post" id="mc-form" class="sv-campaign-form">
  <input id="mc-email" class="sv-campaign-form-input" type="email" placeholder="Email address">
  <label for="mc-email" class="sv-campaign-form-label"></label>
  <button type="submit" class="sv-campaign-form-submit animate-right u-mbn">Subscribe <span>&#8593;</span></button>
</form>
