<!-- project index -->
<div class="modal modal--second" id="project-index" tabindex="-1" role="dialog" aria-labelledby="Modal">
  <div class="modal-dialog modal-lg modal-project-index bg-dark" role="document">
    <div class="modal-content">

      <div class="project-index hidden-xs">
        <div class="container-fluid">
          <div class="row">

            <div class="project-index-header">
              <h1 class="u-mbmd">All projects</h1>
            </div>

            <!-- fill project list from JSON -->
            <div class="project-index-list"></div>

          </div>
        </div>
      </div>

      <div class="client-list visible-xs">
        <div class="container-fluid">
          <div class="row">

            <div class="client-list-header">
              <h1>Selected Clients</h1>
            </div>
            
            <p><a href="/projects/aida">Aida</a>, AIGA, Antfood, Ayr, Baggu, Collaborative Fund, Dropbox, <a href="/projects/google-span">Google</a>, Grilli Type, Pharrell/i am OTHER, IBM, <a href="/projects/le-fleuriste">Le Fleuriste</a>, OKREAL, Storq, <a href="/projects/xxxi">XXXI</a>.</p>

          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
