<p class="u-mtlg" id="sidenote-1">
  <span>1</span><br>
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
</p>
<p class="u-mtlg" id="sidenote-2">
  <span>2</span><br>
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
</p>
<p class="u-mtxl" id="sidenote-3">
  <span>3</span><br>
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
</p>
<p class="u-mtxl" id="sidenote-4">
  <span>4</span><br>
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
</p>
<p class="u-mtlg" id="sidenote-5">
  <span>5</span><br>
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
</p>
<p class="u-mtxl" id="sidenote-6">
  <span>6</span><br>
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
</p>
