<p>We launched this ‘temporary’ website two years ago with the intention of replacing it. We’ve grown to like it because it doesn’t feel like the other websites out there, and it turns out other people like that as well, so here we are.</p>

<p>XXIX<sup id="fnref:twentynine"><a href="#fn:twentynine" class="footnote">1</a></sup> is a small team that helps people make the things they’ve always wanted to make. Some might call it a design studio, creative agency, design firm, etc. but those labels don’t seem to fit. As with many people starting out on their own, we wanted to do things a little differently than what we’d seen at other places.</p>

<p>Working across different media, disciplines, and industries<sup id="fnref:clients"><a href="#fn:clients" class="footnote">2</a></sup>, our favorite projects let us think about them from concept to launch<sup id="fnref:process"><a href="#fn:process" class="footnote">3</a></sup>. Our goal is to do work that answers its brief while also being unique, concept-driven, and authentic, combining great graphic design with modern technologies. We know launching is hard so we partner with people to actually bring their ideas to life.</p>

<p>Our self-initiated projects<sup id="fnref:projects"><a href="#fn:projects" class="footnote">4</a></sup> attempt to engage with the world beyond design itself but through the designer’s lens. These projects are labors of love but remind us why we’re passionate about what we do.</p>

<p>In 2015, we moved our studio into a mixed-use space in New York’s East Village<sup id="fnref:address"><a href="#fn:address" class="footnote">5</a></sup> that we named <a href="http://xxxi.nyc" target="_blank">XXXI</a><sup id="fnref:naming"><a href="#fn:naming" class="footnote">6</a></sup>. We wanted a space that interacts with the city and again gives artists’ studios prominence in the neighborhood. It’s home to XXIX, as well as shared studio space for a group of friends<sup id="fnref:friends"><a href="#fn:friends" class="footnote">7</a></sup> and <a href="http://www.at-elier.org" target="_blank">resident designers</a>, and an exhibition space for designers. We also eat lunch together on Fridays<sup id="fnref:lunch"><a href="#fn:lunch" class="footnote">8</a></sup>.</p>

<p><a href="#contact" class="js-toggle-modal">Get in touch</a> if you’d like to chat or <a href="#newsletter" class="js-toggle-modal">subscribe</a> for infrequent emails.</p>

<div class="footnotes u-ptlg">
  <ol>
    <li id="fn:twentynine">
      <p>‘Twenty-Nine’<a href="#fnref:twentynine" class="reversefootnote"><span class="ensp"></span><span class="u-inline-block sprite-arrow-N-sm"></span></a></p>
    </li>

    <li id="fn:clients">
      <p>Selected work: <a href="#span-rotator, #span-web-home" class="js-toggle-modal">Google SP-AN</a>, <a href="#dropbox-web" class="js-toggle-modal">Dropbox</a>, <a href="#lefleuriste-web" class="js-toggle-modal">Le Fleuriste</a>, <a href="#antfood-web-grid, #antfood-web-home" class="js-toggle-modal">Antfood</a>, <a href="#okreal-bizcards, #okreal-web" class="js-toggle-modal">OKREAL</a>, <a href="#baggu-detail" class="js-toggle-modal">Baggu</a>, <a href="#aida-web, #aida-print" class="js-toggle-modal">Aida</a>, <a href="#storq-brand, #storq-web" class="js-toggle-modal">Storq</a>, <a href="#kidtech-brand" class="js-toggle-modal">KidTech</a>
      <a href="#fnref:clients" class="reversefootnote"><span class="ensp"></span><span class="u-inline-block sprite-arrow-N-sm"></span></a></p>
    </li>

    <li id="fn:process">
      <p>We believe the design process encompasses (but is not limited to) research, strategic thinking, branding, art direction, creating smart content from copy to animation to photography, software development (iOS, web, or other), and design for print, screen, spaces, and objects.<a href="#fnref:process" class="reversefootnote"><span class="ensp"></span><span class="u-inline-block sprite-arrow-N-sm"></span></a></a></p>
    </li>

    <li id="fn:projects">
      <p>Studio projects: <a href="http://www.at-elier.org" target="_blank">@telier</a>, <a href="http://www.unti-tled.com" target="_blank">Unti-tled</a>, <a href="http://smallvictori.es/" target="_blank">Small Victories</a>, <a href="http://www.xxxi.nyc/" target="_blank">XXXI</a><a href="#fnref:projects" class="reversefootnote"><span class="ensp"></span><span class="u-inline-block sprite-arrow-N-sm"></span></a></a></p>
    </li>

    <li id="fn:address">
      <p><a href="https://www.google.com/maps/place/XXXI/@40.728048,-73.9862947,17z/data=!3m1!4b1!4m5!3m4!1s0x89c2599d75fd5e17:0x564604a41c6af895!8m2!3d40.728044!4d-73.984106" target="_blank">411 E 9th St., ground floor,<br>New York NY 10009</a><span class="ensp"></span><span class="u-inline-block sprite-arrow-NE-sm"></span><a href="#fnref:address" class="reversefootnote"><span class="ensp"></span><span class="u-inline-block sprite-arrow-N-sm"></span></a></a></p>
    </li>

    <li id="fn:naming">
      <p>We decided to name things after milestone years in our professional lives, and roman numerals have a graphic, geometric appeal<a href="#fnref:naming" class="reversefootnote"><span class="ensp"></span><span class="u-inline-block sprite-arrow-N-sm"></span></a></a></p>
    </li>

    <li id="fn:friends">
      <p>Currently: <a href="http://www.dmcg.co/" target="_blank">David McGillivray</a>, <a href="http://thierryblancpain.com/" target="_blank">Thierry Blancpain</a>, <a href="http://www.elie.live">Elie Andersen</a>, and <a href="http://michaelgroth.co/" target="_blank">Michael Groth</a><a href="#fnref:friends" class="reversefootnote"><span class="ensp"></span><span class="u-inline-block sprite-arrow-N-sm"></span></a></a></p>
    </li>

    <li id="fn:lunch">
      <p>Check <a href="http://twitter.com/twentynine_nyc" target="_blank">Twitter</a> for details<a href="#fnref:lunch" class="reversefootnote"><span class="ensp"></span><span class="u-inline-block sprite-arrow-N-sm"></span></a></a></p>
    </li>
  </ol>
</div>
