<div id="index" class="preload site-22185 page  20160530firstpost md 20160530firstpostmd blog sv-body-blog sv-body-blog-article" data-no-turbolink> <!-- would normally be body -->
  <div class="sv-loader" id="sv-loader"><div class="sv-loader-loading"></div></div>

  <div class="sv-theme">
    <div class="sv-blog-nav" id="sv-blog-nav">
      <a class="sv-blog-nav-title" href="/">
        <div class="sv-blog-nav-logo"><img data-src="./logo.png" alt="Sandwich bread"></div>
        XXIX
      </a>
      <div class="sv-blog-nav-items">
        <ul class="task-list">
          <li><a href="http://www.smallvictori.es">Email</a></li>
          <li><a href="http://www.smallvictori.es">Twitter</a></li>
          <li><a href="http://www.smallvictori.es">Facebook</a></li>
        </ul>
      </div>
    </div>


    <div id="sv20160530firstpostmd" class="sv-blog-article  20160530firstpost md 20160530firstpostmd">
      <div class="sv-blog-article-header">
        <img data-src="//aws.sv-cdn.com/site_assets/dev-xxix-co/21555164daf9/research/2016-05-31-second-post.png" alt="2016 05 31 second post" class="lazyload lazy-loaded" src="_assets/images/work/okreal-biz-cards.jpg">
      </div>

      <div class="sv-blog-article-content">
        <h1>
          <a id="welcome-to-small-victories" class="anchor" href="#welcome-to-small-victories" aria-hidden="true"><span class="octicon octicon-link"></span></a>
          <a id="welcome-to-small-victories" class="anchor" href="/2016-05-30-first-post#welcome-to-small-victories" aria-hidden="true"><span class="octicon octicon-link"></span></a>Studio conversations:<br>Small Studio</h1>

          <h1>R. Buckminster Fuller was a renowned 20th century inventor and visionary born in Milton, Massachusetts on July 12, 1895. Dedicating his life to making the world work for all  of humanity, Fuller operated as a practical philosopher  who demonstrated his ideas as inventions that he called “artifacts.” Fuller did not limit himself to one field.</h1>

          <p>R. Buckminster Fuller was a renowned 20th century inventor and visionary born in Milton, Massachusetts on July 12, 1895. Dedicating his life to making the world work for all  of humanity, Fuller operated as a practical philosopher  who demonstrated his ideas as inventions that he called “artifacts.” Fuller did not limit himself to one field.</p>

          <p>
            <ol>
              <li>Fuller did not limit himself to one field</li>
              <li>R. Buckminster Fuller was a renowned 20th century inventor and visionary born in Milton, Massachusetts on July 12, 1895</li>
              <li>Fuller did not limit himself to one field</li>
            </ol>
          </p>

          <p>R. Buckminster Fuller was a renowned 20th century inventor and visionary born in Milton, Massachusetts on July 12, 1895. Dedicating his life to making the world work for all  of humanity, Fuller operated as a practical philosopher  who demonstrated his ideas as inventions that he called “artifacts.” Fuller did not limit himself to one field.</p>

          <p><blockquote>“R. Buckminster Fuller was a renowned 20th century inventor and visionary born in Milton, Massachusetts on July 12, 1895.”</blockquote></p>

          <p>R. Buckminster Fuller was a renowned 20th century inventor and visionary born in Milton, Massachusetts on July 12, 1895. Dedicating his life to making the world work for all  of humanity, Fuller operated as a practical philosopher  who demonstrated his ideas as inventions that he called “artifacts.” Fuller did not limit himself to one field.</p>

          <p>
            <ul>
              <li>Fuller did not limit himself to one field</li>
              <li>R. Buckminster Fuller was a renowned 20th century inventor and visionary born in Milton, Massachusetts on July 12, 1895</li>
              <li>Fuller did not limit himself to one field</li>
            </ul>
          </p>

          <p><img src="_assets/images/work/okreal-biz-cards.jpg" alt="Image"></p>

          <h2>
            <a id="basic-concepts" class="anchor" href="#basic-concepts" aria-hidden="true"><span class="octicon octicon-link"></span></a>
            <a id="basic-concepts" class="anchor" href="/2016-05-30-first-post#basic-concepts" aria-hidden="true"><span class="octicon octicon-link"></span></a>2 — Basic concepts</h2>

            <p>A Small Victory site is represented by a folder. The files in this folder become the contents of your website. Updating your site happens automatically when Dropbox syncs (it syncs when it notices any changes). When you make changes, there might be a small delay as Dropbox syncs.</p>

            <p>Small Victories includes some themes for common types of sites to get you started, or you can do something completely custom. You can customize these using the JavaScript and CSS files included in your site folder. Anything you can do with JavaScript or CSS you can do in Small Victories.</p>

            <h3>
            <a id="basic-concepts" class="anchor" href="#basic-concepts" aria-hidden="true"><span class="octicon octicon-link"></span></a>
            <a id="basic-concepts" class="anchor" href="/2016-05-30-first-post#basic-concepts" aria-hidden="true"><span class="octicon octicon-link"></span></a>3 — Basic concepts</h3>

            <p>A Small Victory site is represented by a folder. The files in this folder become the contents of your website. Updating your site happens automatically when Dropbox syncs (it syncs when it notices any changes). When you make changes, there might be a small delay as Dropbox syncs.</p>

            <h4>
            <a id="basic-concepts" class="anchor" href="#basic-concepts" aria-hidden="true"><span class="octicon octicon-link"></span></a>
            <a id="basic-concepts" class="anchor" href="/2016-05-30-first-post#basic-concepts" aria-hidden="true"><span class="octicon octicon-link"></span></a>4 — Basic concepts</h4>

            <p>A Small Victory site is represented by a folder. The files in this folder become the contents of your website. Updating your site happens automatically when Dropbox syncs (it syncs when it notices any changes). When you make changes, there might be a small delay as Dropbox syncs.</p>

            <hr>

            <h5>
            <a id="basic-concepts" class="anchor" href="#basic-concepts" aria-hidden="true"><span class="octicon octicon-link"></span></a>
            <a id="basic-concepts" class="anchor" href="/2016-05-30-first-post#basic-concepts" aria-hidden="true"><span class="octicon octicon-link"></span></a>5 — Basic concepts</h5>

            <p>A Small Victory site is represented by a folder. The files in this folder become the contents of your website. Updating your site happens automatically when Dropbox syncs (it syncs when it notices any changes). When you make changes, there might be a small delay as Dropbox syncs.</p>

            <h6>
            <a id="basic-concepts" class="anchor" href="#basic-concepts" aria-hidden="true"><span class="octicon octicon-link"></span></a>
            <a id="basic-concepts" class="anchor" href="/2016-05-30-first-post#basic-concepts" aria-hidden="true"><span class="octicon octicon-link"></span></a>6 — Basic concepts</h6>

            <p>A Small Victory site is represented by a folder. The files in this folder become the contents of your website. Updating your site happens automatically when Dropbox syncs (it syncs when it notices any changes). When you make changes, there might be a small delay as Dropbox syncs.</p>

          </div>
        </div>

        <a class="sv-blog-article-next  research 20160531secondpost md research20160531secondpostmd" id="svresearch20160531secondpostmd" href="/research/2016-05-31-second-post">
          <h5>Next Post</h5>
          <h3>How it works</h3>
          <div class="sv-blog-item sv-blog-item-0  research 20160531secondpost md research20160531secondpostmd" id="svresearch20160531secondpostmd">
            <div class="sv-blog-item-markdown">
              <p></p>
            </div>
          </div>
        </a>

        <div class="sv-blog-footer-items">
          <ul class="task-list">
            <li><a href="http://www.smallvictori.es">Email</a></li>
            <li><a href="http://www.smallvictori.es">Twitter</a></li>
            <li><a href="http://www.smallvictori.es">Facebook</a></li>
          </ul>
        </div>

      </div>

      <!-- <a class="sv-badge" target="_blank" style="position: fixed !important; display: block !important; opacity: 1 !important; height: 64px !important; width: 64px !important; visibility: visible !important; bottom: 0 !important; right: 0 !important; left: auto !important; top: auto !important; z-index: 1 !important;" href="http://smallvictori.es">
        <img alt="Small Victories" style="position: relative !important; margin: 0 !important; display: block !important; opacity: 1 !important; height: 64px !important; width: 64px !important; visibility: visible !important;" src="https://smallvictories-production-assets.s3.amazonaws.com/assets/site_badge-49c48e6c5f172c0dae9aa189c6418525e1d295509386c834c3c3bc3e07629a3f.png" />
      </a> -->
