<div id="project" class="-preload site-792 page project projects projectsproject feed " data-no-turbolink>
  <div class="sv-loader" id="sv-loader"><div class="sv-loader-loading"></div></div>

  <!-- JSON header -->
  <!-- <div class="project-id" id="44"></div> -->

  <!-- static header -->
  <div class="project-header">
    <div class="project-header-inner">
      <div class="container-fluid">

        <div class="project-header-nav">
          <div class="row">
            <div class="col-xs-12 col-sm-1">
              <h1>&larr;</h1>
            </div>
            <div class="col-xs-11 col-sm-6 col-sm-offset-1 col-lg-5 col-lg-offset-2">
              <h1>Project name</h1>
            </div>
            <div class="col-xs-7 col-sm-3 col-sm-offset-1 col-lg-2 col-lg-offset-1 hidden-xs">
              <div class="project-status text-secondary">
                <p><a href="">www.projecturl.com</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="project-header-body">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-2 col-lg-5 col-lg-offset-3">
              <!-- <h1>All the conversions.</h1> -->
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
              <div class="project-status visible-xs text-secondary">
                <p><a href="">www.projecturl.com</a></p>
              </div>
            </div>
            <div class="col-xs-10 col-sm-3 col-sm-offset-1 col-lg-2 col-lg-offset-1">
              <ul class="project-header-tags text-secondary">
                <li>Branding</li>
                <li>Design</li>
                <li>iOS development</li>
              </ul>
              <ul class="project-header-credits text-secondary">
                <li>Animation<br>Samuel Adams</li>
                <li>Illustration<br>George Washington</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="sv-theme">
    <div class="sv-feed">

      <div class="sv-feed-info" id="sv-feed-info">
        <div class="sv-feed-info-inner">
          <h1 class="sv-feed-title sv-feed-info-title">a project</h1>
          <div class="sv-feed-description sv-feed-info-description"></div>
        </div>
      </div>

      <a href="#sv-feed-info" class="sv-control sv-feed-control" data-sv-toggle="Info">Info</a>

      <div class="sv-feed-inner">
        <div class="sv-feed-block">
          <div class="sv-feed-meta">
            <h1 class="sv-feed-title sv-feed-meta-title">a project</h1>
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-0  projects project 01 full png projectsproject01fullpng" id="svprojectsproject01fullpng" >
          <div class="sv-feed-item-photo">
            <img data-src="//dev.sv-cdn.com/assets/xxix-dev.smvi.co/614b682b3f/projects/project/01 full.png" alt="01 full" class="lazyload" src="projects/project/01 full.png" />
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-1  projects project 02 half png projectsproject02halfpng" id="svprojectsproject02halfpng" >
          <div class="sv-feed-item-photo">
            <img data-src="//dev.sv-cdn.com/assets/xxix-dev.smvi.co/624b682b3f/projects/project/02 half.png" alt="02 half" class="lazyload" src="projects/project/02 half.png" />
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-2  projects project 03 half png projectsproject03halfpng" id="svprojectsproject03halfpng" >
          <div class="sv-feed-item-photo">
            <img data-src="//dev.sv-cdn.com/assets/xxix-dev.smvi.co/634b682b3f/projects/project/03 half.png" alt="03 half" class="lazyload" src="projects/project/03 half.png" />
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-2  projects project 03 quarter png projectsproject03halfpng" id="svprojectsproject03halfpng" >
          <div class="sv-feed-item-photo">
            <img data-src="//dev.sv-cdn.com/assets/xxix-dev.smvi.co/634b682b3f/projects/project/03 half.png" alt="03 half" class="lazyload" src="projects/project/03 half.png" />
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-2  projects project 03 quarter png projectsproject03halfpng" id="svprojectsproject03halfpng" >
          <div class="sv-feed-item-photo">
            <img data-src="//dev.sv-cdn.com/assets/xxix-dev.smvi.co/634b682b3f/projects/project/03 half.png" alt="03 half" class="lazyload" src="projects/project/03 half.png" />
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-2  projects project 03 quarter png projectsproject03halfpng" id="svprojectsproject03halfpng" >
          <div class="sv-feed-item-photo">
            <img data-src="//dev.sv-cdn.com/assets/xxix-dev.smvi.co/634b682b3f/projects/project/03 half.png" alt="03 half" class="lazyload" src="projects/project/03 half.png" />
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-2  projects project 03 quarter png projectsproject03halfpng" id="svprojectsproject03halfpng" >
          <div class="sv-feed-item-photo">
            <img data-src="//dev.sv-cdn.com/assets/xxix-dev.smvi.co/634b682b3f/projects/project/03 half.png" alt="03 half" class="lazyload" src="projects/project/03 half.png" />
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-3b  projects project 03b -cover full md projectsproject04coverfullpng" id="svprojectsproject04coverfullpng" >
          <div class="sv-feed-item-text">
            <blockquote>“This is a section break with a blockquote”</blockquote>
            <h2>Some Person,<br>Founder</h2>
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-3  projects project 04 cover full png projectsproject04coverfullpng" id="svprojectsproject04coverfullpng" >
          <div class="sv-feed-item-photo">
            <img data-src="//dev.sv-cdn.com/assets/xxix-dev.smvi.co/644b682b3f/projects/project/04 cover full.png" alt="04 cover full" class="lazyload" src="projects/project/04 cover full.png" />
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-3b  projects project 03b -cover full md projectsproject04coverfullpng" id="svprojectsproject04coverfullpng" >
          <div class="sv-feed-item-text">
            <h1>This is a section break with text</h1>
            <h2>And a line of sub too and a line of sub too and a line of sub too and a line of sub too and a line of sub too.</h2>
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-4  projects project 05 half cover png projectsproject05halfcoverpng" id="svprojectsproject05halfcoverpng" >
          <div class="sv-feed-item-photo">
            <img data-src="//dev.sv-cdn.com/assets/xxix-dev.smvi.co/654b682b3f/projects/project/05 half cover.png" alt="05 half cover" class="lazyload" src="projects/project/05 half cover.png" />
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-5  projects project 06 half cover png projectsproject06halfcoverpng" id="svprojectsproject06halfcoverpng" >
          <div class="sv-feed-item-photo">
            <img data-src="//dev.sv-cdn.com/assets/xxix-dev.smvi.co/664b682b3f/projects/project/06 half cover.png" alt="06 half cover" class="lazyload" src="projects/project/06 half cover.png" />
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-15  projects googlespan 20 cover full infoblock md projectsgooglespan20coverfullinfoblockmd" id="svprojectsgooglespan20coverfullinfoblockmd">
          <div class="sv-feed-item-markdown">
            <p>Some early tests on transitions between sections with high contrast filtering on the vignettes.</p>
            <p>
              <img src="projects/project/06 half cover.png" alt=""><br>
              <img src="projects/project/06 half cover.png" alt="">
            </p>
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-5  projects project 06 third png projectsproject06halfcoverpng" id="svprojectsproject06halfcoverpng" >
          <div class="sv-feed-item-photo">
            <img data-src="//dev.sv-cdn.com/assets/xxix-dev.smvi.co/664b682b3f/projects/project/06 half cover.png" alt="06 half cover" class="lazyload" src="projects/project/06 half cover.png" />
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-5  projects project 06 two-third png projectsproject06halfcoverpng" id="svprojectsproject06halfcoverpng" >
          <div class="sv-feed-item-photo">
            <img data-src="//dev.sv-cdn.com/assets/xxix-dev.smvi.co/664b682b3f/projects/project/06 half cover.png" alt="06 half cover" class="lazyload" src="projects/project/06 half cover.png" />
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-3b  projects project 03b -cover full md projectsproject04coverfullpng" id="svprojectsproject04coverfullpng" >
          <div class="sv-feed-item-text">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-6  projects project 07 half png projectsproject07halfpng" id="svprojectsproject07halfpng" >
          <div class="sv-feed-item-photo">
            <img data-src="//dev.sv-cdn.com/assets/xxix-dev.smvi.co/674b682b3f/projects/project/07 half.png" alt="07 half" class="lazyload" src="projects/project/07 half.png" />
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-6  projects project 07 half png projectsproject07halfpng" id="svprojectsproject07halfpng" >
          <div class="sv-feed-item-photo">
            <img data-src="//dev.sv-cdn.com/assets/xxix-dev.smvi.co/674b682b3f/projects/project/07 half.png" alt="07 half" class="lazyload" src="projects/project/07 half.png" />
          </div>
        </div>

        <!-- <div class="sv-feed-item sv-feed-item-7  projects project 08 half sizer md projectsproject08halfsizermd" id="svprojectsproject08halfsizermd" >
          <div class="sv-feed-item-markdown">
            <div><img src="_assets/images/sizer.png" class="lazyload"></div>

            <p>Some content.<br>
            Some more content.</p>
          </div>
        </div> -->

        <div class="sv-feed-item sv-feed-item-8  projects project 09 thumb png projectsproject09thumbclearpng" id="svprojectsproject09thumbclearpng" >
          <div class="sv-feed-item-photo">
            <img data-src="//dev.sv-cdn.com/assets/xxix-dev.smvi.co/694b682b3f/projects/project/09 thumb clear.png" alt="09 thumb clear" class="lazyload" src="projects/project/09 thumb clear.png" />
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-9  projects project 10 thumb png projectsproject10thumbpng" id="svprojectsproject10thumbpng" >
          <div class="sv-feed-item-photo">
            <img data-src="//dev.sv-cdn.com/assets/xxix-dev.smvi.co/6a4b682b3f/projects/project/10 thumb.png" alt="10 thumb" class="lazyload" src="projects/project/10 thumb.png" />
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-10  projects project 11 thumb png projectsproject11thumbpng" id="svprojectsproject11thumbpng" >
          <div class="sv-feed-item-photo">
            <img data-src="//dev.sv-cdn.com/assets/xxix-dev.smvi.co/6b4b682b3f/projects/project/11 thumb.png" alt="11 thumb" class="lazyload" src="projects/project/11 thumb.png" />
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-11  projects project 12 thumb png projectsproject12thumbpng" id="svprojectsproject12thumbpng" >
          <div class="sv-feed-item-photo">
            <img data-src="//dev.sv-cdn.com/assets/xxix-dev.smvi.co/6c4b682b3f/projects/project/12 thumb.png" alt="12 thumb" class="lazyload" src="projects/project/12 thumb.png" />
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-12  projects project 13 thumb png projectsproject13thumbpng" id="svprojectsproject13thumbpng" >
          <div class="sv-feed-item-photo">
            <img data-src="//dev.sv-cdn.com/assets/xxix-dev.smvi.co/6d4b682b3f/projects/project/13 thumb.png" alt="13 thumb" class="lazyload" src="projects/project/13 thumb.png" />
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-13  projects project 14 thumb png projectsproject14thumbpng" id="svprojectsproject14thumbpng" >
          <div class="sv-feed-item-photo">
            <img data-src="//dev.sv-cdn.com/assets/xxix-dev.smvi.co/6e4b682b3f/projects/project/14 thumb.png" alt="14 thumb" class="lazyload" src="projects/project/14 thumb.png" />
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-14  projects project 15 thumb png projectsproject15thumbpng" id="svprojectsproject15thumbpng" >
          <div class="sv-feed-item-photo">
            <img data-src="//dev.sv-cdn.com/assets/xxix-dev.smvi.co/6f4b682b3f/projects/project/15 thumb.png" alt="15 thumb" class="lazyload" src="projects/project/15 thumb.png" />
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-15  projects project 16 thumb png projectsproject16thumbpng" id="svprojectsproject16thumbpng" >
          <div class="sv-feed-item-photo">
            <img data-src="//dev.sv-cdn.com/assets/xxix-dev.smvi.co/704b682b3f/projects/project/16 thumb.png" alt="16 thumb" class="lazyload" src="projects/project/16 thumb.png" />
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-16  projects project 17 thumb png clear projectsproject17thumbpng" id="svprojectsproject17thumbpng" >
          <div class="sv-feed-item-photo">
            <img data-src="//dev.sv-cdn.com/assets/xxix-dev.smvi.co/714b682b3f/projects/project/17 thumb.png" alt="17 thumb" class="lazyload" src="projects/project/17 thumb.png" />
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-17  projects xxxi 17 cover full ns mp4 projectsxxxi17coverfullnsmp4" id="svprojectsxxxi17coverfullnsmp4">
          <div class="sv-feed-item-video">
            <video poster="projects/project/18 cover full ns.mp4" preload="true" autoplay="autoplay" loop="loop">
              <source src="projects/project/18 cover full ns.mp4" type="video/mp4">
              I'm sorry; your browser doesn't support HTML5 video.
            </video>
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-2  projects project 03 third png projectsproject03thirdpng" id="svprojectsproject03halfpng" >
          <div class="sv-feed-item-photo">
            <img data-src="//dev.sv-cdn.com/assets/xxix-dev.smvi.co/634b682b3f/projects/project/03 half.png" alt="03 third" class="lazyload" src="projects/project/21 third.png" />
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-2  projects project 03 third png projectsproject03halfpng" id="svprojectsproject03halfpng" >
          <div class="sv-feed-item-photo">
            <img data-src="//dev.sv-cdn.com/assets/xxix-dev.smvi.co/634b682b3f/projects/project/03 half.png" alt="03 third" class="lazyload" src="projects/project/22 third.png" />
          </div>
        </div>

        <div class="sv-feed-item sv-feed-item-2  projects project 03 third png projectsproject03halfpng" id="svprojectsproject03halfpng" >
          <div class="sv-feed-item-photo">
            <img data-src="//dev.sv-cdn.com/assets/xxix-dev.smvi.co/634b682b3f/projects/project/03 half.png" alt="03 third" class="lazyload" src="projects/project/23 third.png" />
          </div>
        </div>

        <!-- <div class="sv-feed-item sv-feed-item-17  projects project 18 half sizer clear md projectsproject18halfsizerclearmd" id="svprojectsproject18halfsizerclearmd" >
        <div class="sv-feed-item-markdown">
        <div><img src="images/sizer.png" class="lazyload"></div>

        <p>Some content.</p>
      </div>
    </div>

    <div class="sv-feed-item sv-feed-item-18  projects project 19 half png projectsproject19halfpng" id="svprojectsproject19halfpng" >
    <div class="sv-feed-item-photo">
    <img data-src="//dev.sv-cdn.com/assets/xxix-dev.smvi.co/734b682b3f/projects/project/19 half.png" alt="19 half" class="lazyload" src="projects/project/19 half.png" />
  </div>
</div> -->

  <!-- <div class="sv-feed-item sv-feed-item-1  projects okreal 01b full html projectsokreal01bfullhtml" id="svprojectsokreal01bfullhtml" >
  <div class="sv-feed-item-html">
  <div class="minisite" style="background: yellow;">
  <div class="inner">
  <iframe name="okreal" src="http://okreal.co" data-src="http://okreal.co"></iframe>
  </div>
  </div>
  </div>
  </div> -->



    </div>
    </div>

  </div>

  <div class="clearfix"></div>
</div>
