<!-- antfood-web-1 -->
<div class="modal js-modal-project" id="antfood-web-home" tabindex="-1" role="dialog" aria-labelledby="Modal">
  <div class="modal-dialog modal-xs modal-image modal-image-lg modal-gray modal-border-0" role="document">
    <div class="modal-content">
      <div class="modal-body t-center">
        <video poster="_assets/images/work/antfood-vr-entry.png" preload="true" autoplay="autoplay" loop="loop">
          <source src="_assets/images/work/antfood-vr-entry.mp4" type="video/mp4">
          I'm sorry; your browser doesn't support HTML5 video.
        </video>
      </div>
    </div>
  </div>
</div>
