<!-- baggu detail page -->
<div class="modal js-modal-project" id="baggu-detail" tabindex="-1" role="dialog" aria-labelledby="Modal">
  <div class="modal-dialog modal-sm modal-image modal-gray modal-border-0" role="document">
    <div class="modal-content">
      <div class="modal-body t-center">
        <img src="_assets/images/work/baggu-web-detail-01.png" class="u-responsive">
      </div>
    </div>
  </div>
</div>
