<!-- Dropbox web -->
<div class="modal js-modal-project" id="dropbox-web" tabindex="-1" role="dialog" aria-labelledby="Modal">
  <div class="modal-dialog modal-sm modal-iframe" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-header-action js-modal-close"><span class="u-inline-block sprite-x-black-sm"></span></div>
        <a href="https://dropbox.design/" target="_blank" class="modal-header-action"><span class="u-inline-block sprite-arrow-NE-sm"></span></a>
        <div class="t-c">Dropbox Design</div>
      </div>
      <div class="modal-body">
        <iframe data-iframe-src="https://dropbox.design/"></iframe>
      </div>
    </div>
  </div>
</div>
