<!-- kidtech brand -->
<div class="modal js-modal-project" id="kidtech-brand" tabindex="-1" role="dialog" aria-labelledby="Modal">
  <div class="modal-dialog modal-sm modal-image modal-gray" role="document">
    <div class="modal-content">
      <div class="modal-body t-center">
        <img src="_assets/images/work/kidtech-brand.png" class="u-responsive">
      </div>
    </div>
  </div>
</div>
