<!-- span rotator -->
<div class="modal js-modal-project" id="span-rotator" tabindex="-1" role="dialog" aria-labelledby="Modal">
  <div class="modal-dialog modal-sm modal-image modal-gray modal-border-0" role="document">
    <div class="modal-content">
      <div class="modal-body t-center">
        <img src="_assets/images/work/span-rotator.jpg" class="u-responsive">
      </div>
    </div>
  </div>
</div>
