<!-- studio exterior -->
<div class="modal js-modal-project" id="xxxi-studio-exterior" tabindex="-1" role="dialog" aria-labelledby="Modal">
  <div class="modal-dialog modal-image modal-image-sm modal-gray modal-border-0" role="document">
    <div class="modal-content">
      <div class="modal-body t-center">
        <img src="_assets/images/work/xxxi-space-03.jpg" class="u-responsive">
      </div>
    </div>
  </div>
</div>
