/*
// global variables
*/
$base-unit:                              10px;

$screen-xxs-min:                         375px !default;
$screen-xs-min:                          480px !default;
$screen-sm-min:                          768px !default;
$screen-md-min:                          1024px !default;
$screen-lg-min:                          1300px !default;
$screen-xl-min:                          1500px !default;
$screen-xxl-min:                         1800px !default;

// grid
$grid-columns:                           12 !default;
$grid-gutter-width:                      25px !default;
$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// fonts
$font-primary:                           "'America Regular Web', 'Helvetica Neue', Helvetica, Arial, sans-serif";
$font-primary-italic:                    "'America Regular Italic Web', 'Helvetica Neue', Helvetica, Arial, sans-serif";
$font-primary-heavy:                     $font-primary-italic;
$font-secondary:                         "'Super Display Light Web', 'Times New Roman'";
$font-secondary-heavy:                   "'Super Display Super Web', 'Times New Roman'";
$font-tertiary:                          "'America Mono Regular Web', Courier";
$font-tertiary-italic:                   "'America Mono Regular Italic Web', Courier";

// type sizes
$text-base:                              20px !default;
$text-xxs:                               12px !default;
$text-xs:                                15px !default;
$text-sm:                                $text-base !default;
$text-md:                                25px !default;
$text-lg:                                50px !default;
$text-xl:                                75px !default;
$text-xxl:                               100px !default;

//
// $sm-text-base:
// $sm-text-xxs:                            $text-xxs !default;
// $sm-text-xs:                             $text-xs !default;
// $sm-text-sm:                             $text-sm !default;
// $sm-text-md:                             $text-md !default;
// $sm-text-lg:                             $text-lg !default;
// $sm-text-xl:                             $text-xl !default;
// $sm-text-xxl:                            $text-xxl !default;

// variable type sizes
$text-v-base:                            2vw;
$text-v-xxs:                             2vw;
$text-v-xs:                              2vw;
$text-v-sm:                              2vw;
$text-v-md:                              $text-v-base;
$text-v-lg:                              2vw;
$text-v-xl:                              2vw;
$text-v-xxl:                             2vw;

// line height
$text-line-base:                         1.0;
$text-line-xs:                           0.9 !default;
$text-line-sm:                           $text-line-base !default;
$text-line-md:                           1.25 !default;
$text-line-lg:                           1.5 !default;
$text-line-xl:                           2.0 !default;

// letterspacing
$text-letter-base:                       0;
$text-letter-xs:                         -.01em;
$text-letter-sm:                         $text-letter-base;
$text-letter-md:                         .03em;
$text-letter-lg:                         .05em;
$text-letter-xl:                         .1em;

// spacing
$space-base:                             25px;
$space-xxs:                              5px;
$space-xs:                               10px !default;
$space-sm:                               $space-base !default;
$space-md:                               50px !default;
$space-lg:                               75px !default;
$space-xl:                               100px !default;
$space-xxl:                              200px !default;

// color
$color-base:                             black;
$color-brand:                            #ffeb0b;
$color-brand-secondary:                  green;
$color-gray:                             #e3e7e1;
$color-dark:                             black;
$collr-mid:                              gray;
$color-light:                            white;
$color-disabled:                         $color-gray;
$color-alert:                            red;

//
$border-base:                            1px solid $color-base;
$border-sm:                              $border-base;
$border-md:                              2px solid $color-base;
$border-lg:                              5px solid $color-base;

/*
// project variables
*/
$gutter:                                 $space-base;
$layout-outer:                           $gutter * 2;

// $nav-height-sm:
$nav-height:                             $space-xl;


///

@import '_lib/v0/v0';
// @include loader;
// @include overlay;

// @import "_lib/bootstrap/variables";
// @import "_lib/bootstrap/mixins";
// @import "_lib/bootstrap/scaffolding";
// @import "_lib/bootstrap/buttons";
// @import "_lib/bootstrap/dropdowns";
// @import "_lib/bootstrap/grid";
// @import "_lib/bootstrap/forms";
// @import "_lib/bootstrap/media";
// @import "_lib/bootstrap/modals";
// @import "_lib/bootstrap/utilities";
// @import "_lib/bootstrap/responsive-utilities";
@import "_lib/bootstrap/bootstrap";

@import 'scss/fonts';
@import 'scss/loader';
@import 'scss/mixins';
@import 'scss/cursors';
@import 'scss/type';
@import 'scss/media';
@import 'scss/layout';
@import 'scss/nav';

body {
  position: relative;

  .touch & {
    cursor: pointer;

    div {
      cursor: pointer;
    }
  }
}

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
}

.ensp {
  display: inline-block !important;
  width: 0.4em;
}

.faux-body {
  height: 100%;
  overflow: auto;
}

.no-scroll {
  overflow: hidden;
}

.sv-badge {
  display: none;
}
