//
$base-unit:                              10px;

$screen-xxs-min:                         375px !default;
$screen-xs-min:                          480px !default;
$screen-sm-min:                          768px !default;
$screen-md-min:                          1024px !default;
$screen-lg-min:                          1300px !default;
$screen-xl-min:                          1500px !default;
$screen-xxl-min:                         1800px !default;

// Grid
$grid-columns:                           12 !default;
$grid-gutter-width:                      25px !default;

//
// $font-primary

//
$text-base:                              25px !default;
$text-xxs:                               12px !default;
$text-xs:                                15px !default;
$text-sm:                                20px !default;
$text-md:                                $text-base !default;
$text-lg:                                50px !default;
$text-xl:                                75px !default;
$text-xxl:                               100px !default;

//
// $sm-text-base:
$sm-text-xxs:                            $text-xxs !default;
$sm-text-xs:                             $text-xs !default;
$sm-text-sm:                             $text-sm !default;
$sm-text-md:                             $text-md !default;
$sm-text-lg:                             $text-lg !default;
$sm-text-xl:                             $text-xl !default;
$sm-text-xxl:                            $text-xxl !default;

//
$text-v-base:                            2vw;
$text-v-xxs:                             2vw;
$text-v-xs:                              2vw;
$text-v-sm:                              2vw;
$text-v-md:                              $text-v-base;
$text-v-lg:                              2vw;
$text-v-xl:                              2vw;
$text-v-xxl:                             2vw;

//
$text-line-base:                         1.0;
$text-line-xxs:                          1.8 !default;
$text-line-xs:                           1.9 !default;
$text-line-sm:                           1.9 !default;
$text-line-md:                           1.5 !default;
$text-line-lg:                           1.5 !default;
$text-line-xl:                           1.2 !default;
$text-line-xxl:                          1.0 !default;

$line-base:                              $text-line-base;
$line-xxs:                               $text-line-xxs;
$line-xs:                                $text-line-xs;
$line-sm:                                $text-line-sm;
$line-md:                                $text-line-md;
$line-lg:                                $text-line-lg;
$line-xl:                                $text-line-xl;
$line-xxl:                               $text-line-xxl;

//
$sm-text-line-xxs:                       $text-line-xxs !default;
$sm-text-line-xs:                        $text-line-xs !default;
$sm-text-line-sm:                        $text-line-sm !default;
$sm-text-line-md:                        $text-line-md !default;
$sm-text-line-lg:                        $text-line-lg !default;
$sm-text-line-xl:                        $text-line-xl !default;
$sm-text-line-xxl:                       $text-line-xxl !default;

//
$text-letter-base:                       0;
$text-letter-xs:                         0;
$text-letter-sm:                         0;
$text-letter-md:                         $text-letter-base;
$text-letter-lg:                         0;
$text-letter-xl:                         0;

//
$space-base:                             25px;
$space-xs:                               10px !default;
$space-sm:                               $space-base !default;
$space-md:                               50px !default;
$space-lg:                               75px !default;
$space-xl:                               100px !default;
$space-xxl:                              200px !default;

//
$color-base:                             black;
$color-brand:                            #ffeb0b;
// $color-brand-secondary:                  ;
$color-gray:                             #e3e7e1;
$color-blue:                             #0000cc;
$color-dark:                             black;
$color-light:                            white;
$color-disabled:                         $color-gray;

//
$border-base:                            2px solid $color-base;
$border-sm:                              1px solid $color-base;
$border-md:                              $border-base;
$border-lg:                              5px solid $color-base;

// imports
@import '_lib/stencil/stencil';

// project variables
$gutter:                                 $space-base;
$layout-outer:                           $gutter * 2;

// $nav-height-sm:
$nav-height:                             $space-xl;


///

@import '_lib/stencil/stencil';
// @include loader;
// @include overlay;

@import "_lib/bootstrap/variables";
@import "_lib/bootstrap/mixins";
@import "_lib/bootstrap/scaffolding";
@import "_lib/bootstrap/buttons";
@import "_lib/bootstrap/dropdowns";
@import "_lib/bootstrap/grid";
@import "_lib/bootstrap/forms";
@import "_lib/bootstrap/media";
@import "_lib/bootstrap/modals";
@import "_lib/bootstrap/utilities";
@import "_lib/bootstrap/responsive-utilities";

@import 'scss/fonts';
@import 'scss/loader';
@import 'scss/mixins';
@import 'scss/cursors';
@import 'scss/type';
@import 'scss/layout';

body {
  color: $color-base;
  font-size: $text-sm;
  line-height: $line-md;
  @include regular;
  @include cursor-circle-lg-black-fill;
  position: relative;
  -webkit-font-smoothing: antialiased;

  .touch & {
    cursor: pointer;

    div {
      cursor: pointer;
    }
  }
}

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
}

.ensp {
  display: inline-block !important;
  width: 0.4em;
}

.faux-body {
  height: 100%;
  overflow: auto;
}

.no-scroll {
  overflow: hidden;
}

.sv-badge {
  display: none;
}
