<div class="layout">
  <div class="container">
    <div class="row">
      <form name="contact" netlify action="form-success" class="my-6">
        <input type="text" name="name" />
        <hr>
        <input type="email" name="email" />
        <hr>
        <textarea name="name" rows="8" cols="80"></textarea>
        <hr>
        <input type="radio" name="gender" value="male" checked>Yes<br>
        <input type="radio" name="gender" value="other">No<br>
        <hr>
        <select>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
        <hr>
        <input type="checkbox" name="vehicle1" value="Bike"> I have a bike<br>
        <input type="checkbox" name="vehicle2" value="Car"> I have a car<br>
        <hr>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
</div>
