{% include 'nav' %}
<div class="layout">

  <h1>Type</h1>
  {% include 'type_sample' %}
  <hr>
  <div class="t-set">
    <h1>T-Set</h1>
    {% include 'type_sample' %}
  </div>
  <hr>
  <div class="t-set t-reading">
    <h1>T-Reading</h1>
    {% include 'type_sample' %}
  </div>

</div>
